.about {
    padding-top: rem(24);
    &__container {
    }

    &__content {
        position: relative;
        background: linear-gradient(0deg, rgba(211, 234, 255, 0.5) 0%, rgba(246, 250, 255, 0.5) 57%);
        border-radius: 28px;
        overflow: hidden;
        @include adaptiveClamp(padding-top, 86, 28);
        @include adaptiveClamp(padding-left, 66, 20);
        @include adaptiveClamp(padding-right, 66, 20);
        @include adaptiveClamp(padding-bottom, 79, 29);
        @media(max-width:550px){
            margin-left: rem(-20);
            margin-right: rem(-20);
        }

        .about-two & {
            @include adaptiveClamp(padding-top, 34, 20);
            @include adaptiveClamp(padding-bottom, 89, 39);
        }
    }
    &__fon {
        position: absolute;
        bottom: rem(120);
        right: rem(15);
        @include adaptiveClamp(width, 547, 200);
        height: auto;
        img {
            // @include adaptiveClamp(width, 547, 400);
        }
        @media(max-width:550px){
            @include adaptiveClamp(width, 547, 252);
            right: 50%;
            transform: translateX(50%);
            @include adaptiveClamp(bottom, 275, 238);

            img {
                @include adaptiveClamp(width, 547, 252);
            }

            @media(max-width:450px){
                @include adaptiveClamp(bottom, 350, 238);
            }
        }
    }
    &__body {
        position: relative;
        z-index: 3;
        @include adaptiveClamp(max-width, 690, 350);
        @media(max-width:875px){
            @include adaptiveClamp(max-width, 490, 350);
        }
        @media(max-width:750px){
            max-width: 100% !important;
        }

        .about-two & {
            @include adaptiveClamp(max-width, 762, 350);
            @media(max-width:1000px){
                max-width: 100% !important;
            }
        }

        .about-brand & { 
            @include adaptiveClamp(max-width, 690, 350);
            @media(max-width:1000px){
                @include adaptiveClamp(margin-right, 200, 350);
            }
            @media(max-width:780px){
                margin-right: 0 !important;
            }
        }
    }

    &__title {
        @include adaptiveClamp(margin-bottom, 12, 10);

        .about-brand & { 
            @include adaptiveClamp(margin-bottom, 107, 50);
            @media(max-width:780px){
                @include adaptiveClamp(margin-bottom, 1, 0);
            }
        }
    }

    &__text-up {
        font-weight: 700;
        @include adaptiveClamp(font-size, 22, 14);
        @include adaptiveClamp(margin-bottom, 70, 30);
        line-height: 122%;

        @media(max-width:750px){
            font-weight: 600;
            @include adaptiveClamp(margin-bottom, 600, 286);
        }

        .about-two & {
            @include adaptiveClamp(margin-bottom, 70, 56);
            @media(max-width:750px){
                @include adaptiveClamp(margin-bottom, 70, 56);
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: rem(450);
        @include adaptiveClamp(margin-bottom, 100, 50);
        @include adaptiveClamp(column-gap, 84, 20);
        @include adaptiveClamp(row-gap, 44, 20);

        @media(max-width:875px){
            @include adaptiveClamp(column-gap, 24, 20);
            max-width: rem(360);
        }
        @media(max-width:750px){
            display: none;
        }

        .about-two & {
            @include adaptiveClamp(margin-bottom, 92, 32);
            @media(max-width:750px){
                display: grid;
            }
            @media(max-width:450px){
                display: flex;
                flex-direction: column;
                @include adaptiveClamp(row-gap, 20, 11);
            }
        }
    }

    &__list-item {
        @include adaptiveClamp(font-size, 16, 14);
        display: flex;
        gap: rem(7);
        line-height: 120%;

        svg {
            width: rem(18);
            min-width: rem(18);
            height: rem(18);
        }
    }

    &__button-row {
        .about-brand & {
            @media(max-width:780px){
                display: flex;
                justify-content: center;
            }
        }
    }

    &__button {
        max-width: rem(274);
        @media(max-width:480px){
            max-width: 100%;
        }

        .about-brand & {
            max-width: rem(372);
            @media(max-width:480px){
                max-width: 100%;
            }
        }
    }



    &__img {
        position: absolute;
        top: rem(51);
        right: rem(54);

        @media(max-width:1220px){
            right: 0;
        }
        @media(max-width:1040px){
            right: rem(-50);
        }
        @media(max-width:750px){
            @include adaptiveClamp(right, 150, 26.29);
            bottom: rem(127.44);
            top: auto;
        }
        img.one {
            position: relative;
            z-index: 1;
            @include adaptiveClamp(width, 1254, 500);

            @media(max-width:750px){
                @include adaptiveClamp(width, 700, 264);
            }
        }

        img.img-1 {
            position: absolute;
            z-index: 2;
            bottom: rem(-24);
            @include adaptiveClamp(right, 490, 179);
            @include adaptiveClamp(width, 274, 116);
            @media(max-width:875px){
                bottom: rem(-94);
                @include adaptiveClamp(right, 390, 179);
            }
            @media(max-width:750px){
                bottom: rem(-15.7);
                @include adaptiveClamp(right, 590, 179);
            }
        }
        img.img-2 {
            position: absolute;
            z-index: 2;
            right: rem(-57.5);
            @include adaptiveClamp(bottom, 78.55, 49);
            @include adaptiveClamp(width, 171.5, 72.56);
            @media(max-width:1220px){
                right: rem(-27.5);
            }
            @media(max-width:1040px){
                right: rem(40);
            }
            @media(max-width:750px){
                right: rem(-21.85);
            }
        }
        img.img-3 {
            position: absolute;
            z-index: 2;
            @include adaptiveClamp(bottom, 172.54, 116.23);
            @include adaptiveClamp(width, 170, 72.33);
            @include adaptiveClamp(right, 468.5, 185.4);
            @media(max-width:930px){
                @include adaptiveClamp(right, 408.5, 185.4);
            }
            @media(max-width:750px){
                @include adaptiveClamp(right, 528.5, 185.4);
            }
        }
        img.img-4 {
            position: absolute;
            z-index: 2;
            @include adaptiveClamp(bottom, 311, 131.4);
            @include adaptiveClamp(width, 59, 25);
            @include adaptiveClamp(right, 156, 65.71);
        }

        img.img-5 {
            position: absolute;
            z-index: 2;
            @include adaptiveClamp(bottom, 478.8, 200);
            @include adaptiveClamp(width, 35.5, 20);
            @include adaptiveClamp(right, 439.5, 100);
            @media(max-width:750px){
                display: none;
            }
        }
        img.img-6 {
            position: absolute;
            z-index: 2;
            @include adaptiveClamp(width, 130.66, 55.3);
            @include adaptiveClamp(bottom, 414.12, 175.26);
            @include adaptiveClamp(right, 35, 14.8);
            @media(max-width:1040px){
                @include adaptiveClamp(right, 105, 14.8);
            }
            // @media(max-width:750px){
            //     @include adaptiveClamp(right, 528.5, 185.4);
            // }
        }
    }

    &__crumb {
        display: flex;
        align-items: center;
        gap: rem(10);
        @include adaptiveClamp(margin-bottom, 30, 18);

        svg {
            @include adaptiveClamp(margin-top, 2.5, 1);
            @include adaptiveClamp(width, 7, 5);
            height: auto;
        }

        a {
            font-weight: 500;
            @include adaptiveClamp(font-size, 14, 11);
            color: #8894af;
            transition: all 0.3s ease  0s;
            &:hover {
                color: #333d61;
            }
            &:last-child {
                pointer-events: none;
            }
        }
    }

    &__slider {
        position: absolute;
        @include adaptiveClamp(bottom, 89, 39);
        right: rem(35);
        overflow: hidden;
        @include adaptiveClamp(width, 682, 0);
        @media(max-width:1000px){
            position: relative;
            bottom: auto !important;
            right: auto;
            @include adaptiveClamp(margin-bottom, 50, 24);
            width: 100% !important;
            @include adaptiveClamp(max-width, 882, 300);
        }
        @media(max-width:550px){
            max-width: 100% !important;
        }
    }

    &__wrapper {
    }

    &__slide {
        img {
            width: 100%;
        }
    }

    &__pagin-row {
        @include adaptiveClamp(margin-top, 41, 13);
        display: flex;
        justify-content: center;
    }

    &__pagintion.swiper-pagination {
        width: 100% !important;
    }
}

.about-brand {

    &__list {
        @include adaptiveClamp(margin-bottom, 89, 30);
        display: flex;
        @include adaptiveClamp(gap, 100, 16);
        @include adaptiveClamp(padding-left, 15, 11);
        @include adaptiveClamp(padding-right, 15, 11);
        max-width: rem(450);
        @include adaptiveClamp(max-width, 450, 280);

        @media(max-width:780px){
            margin-left: auto;
            margin-right: auto;
        }
        @media(max-width:450px){
            margin-top: rem(22);
        }
    }

    &__list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptiveClamp(gap, 20, 14);
 
        h3 {
            font-weight: 700;
            @include adaptiveClamp(font-size, 45, 24);
            text-align: center;
            color: #333d61;
        }
        p {
            font-weight: 700;
            @include adaptiveClamp(font-size, 16, 12);
            text-align: center;
            color: var(--tekst);
            line-height: 120%;
        }
    }

    &__img {
        position: absolute;
        @include adaptiveClamp(width, 594, 258);
        top: rem(4);
        right: rem(40);
        img {
            @include adaptiveClamp(width, 594, 258);
            height: auto;
        }

        @media(max-width:1240px){
            right: rem(-30);
        }
        @media(max-width:1000px){
            top: rem(40);
        }
        @media(max-width:780px){
            position: relative;
            top: auto;
            right: auto;
            @include adaptiveClamp(left, 20, 10);
            margin-left: auto;
            margin-right: auto;
        }
    }
}
