.object {
    @include adaptiveClamp(padding-top, 129, 90);

    &__container {
    }

    &__content {
        @media(min-width:801px){
            &.mob {
                display: none;
            }
        }
        @media(max-width:800px){
            &.web {
                display: none;
            }
        }
    }

    &__row {
        display: flex;
        gap: rem(30);
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__title {
        max-width: rem(700);
        @include adaptiveClamp(margin-bottom, 40, 30);
    }

    &__text-sub {
        line-height: 150%;
        max-width: rem(800);
        @include adaptiveClamp(font-size, 16, 14);
        margin-bottom: rem(30);
    }

    &__link {
        display: inline-block;
        font-weight: 600;
        @include adaptiveClamp(font-size, 20, 18);
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--ssylki);
        cursor: pointer;
        transition: all 0.3s ease  0s;
        @include adaptiveClamp(margin-bottom, 101, 30);

        &:hover {
            color: #3688c3;   
        }
    }

    &__row-item {
        margin-top: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @include adaptiveClamp(gap, 30, 0);
        @media(max-width:1090px){
            @include adaptiveClamp(gap, 20, 0);
        }
    }

    &__item {
        padding: rem(20) rem(20) rem(25) rem(20);
        background: var(--temnye-plashki);
        border-radius: 18px;
        h3 {
            font-weight: 700;
            @include adaptiveClamp(font-size, 45, 26);
            color: #fff;
        }
        p {
            font-weight: 500;
            @include adaptiveClamp(font-size, 16, 14);
            line-height: 150%;
            color: #fff;
        }

        @media(max-width:1090px){
            h3 {
                @include adaptiveClamp(font-size, 35, 26);
            }
            p {
                @include adaptiveClamp(font-size, 12, 8);
            }
        }
        @media(max-width:800px){
            padding: 0;

            h3 {
                @include adaptiveClamp(font-size, 33, 32);
            }
            p {
                font-weight: 400;
                @include adaptiveClamp(font-size, 13, 12);
            }
        }
    }

    &__right {
        position: relative;
        @include adaptiveClamp(width, 442, 150);
        @include adaptiveClamp(min-width, 442, 150);
        height: 100%;
        height: auto;
        @include adaptiveClamp(min-height, 501, 200);
        overflow: hidden;
        border-radius: 18px;
        background: #ebf6ff;
        display: flex;
        align-items: end;
        justify-content: center;
        @include adaptiveClamp(padding-left, 60, 0);
        @include adaptiveClamp(padding-right, 60, 0);
        @include adaptiveClamp(padding-bottom, 44, 20);
        @include adaptiveClamp(padding-top, 44, 20);

        @media(max-width:800px){
            width: 100% !important;
            min-width: 0 !important;

            @include adaptiveClamp(padding-bottom, 15, 14);
            @include adaptiveClamp(padding-left, 37, 36);
            @include adaptiveClamp(padding-right, 37, 36);
            @include adaptiveClamp(min-height, 300, 289);
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        img {
            width: 100%;
        }
    }

    &__right-text {
        position: relative;
        z-index: 2;
        font-weight: 600;
        @include adaptiveClamp(font-size, 20, 12);
        line-height: 120%;
        text-align: center;

        a {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--ssylki);   
            cursor: pointer;
            transition: all 0.3s ease  0s;

            &:hover {
                color: #3688c3;   
            }
        }

        @media(max-width:800px){
            @include adaptiveClamp(font-size, 13, 12);
            line-height: 167%;
        }
    }

    &__slide {
        border-radius: 18px;
        background: var(--svetlye-plashki);
        height: auto;
        min-height: rem(289);
        @include adaptiveClamp(width, 270, 200);

        &.black {
            background: #162842;
            color: #fff;
        }
    }

    &__text-row-slide {
        display: flex;
        flex-direction: column;
        gap: rem(30);
        padding: rem(26) rem(49) rem(26) rem(21);

        p {
            @include adaptiveClamp(font-size, 14, 12);
            color: #0c0c29; 
        }
    }
    &__text-block {
        display: flex;
        flex-direction: column;
        gap: rem(12);
    }

    &__slide-row-item {
        padding: rem(41) rem(49) rem(37) rem(21);
        display: flex;
        flex-direction: column;
        gap: rem(38);
    }

    &__slide-row-center {
        padding: rem(79) rem(52) rem(40) rem(52);
        display: flex;
        flex-direction: column;
     
        align-items: center;
        .item-icon {
            width: rem(49);
            height: rem(43);
        }
        .object__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: rem(35);
            p {
                max-width: rem(104);
            }
            a {
                color: #fff;
                transition: all 0.3s ease  0s;
                svg {
                    margin-left: rem(16);
                    width: rem(23);
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &__button-row {
        margin-top: rem(31);
        display: flex;
        justify-content: center;

    }
    &__button {
        max-width: rem(350);
        width: 100%;
    }
}
.web {
}
